In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
%matplotlib inline

In [114]:
df = pd.read_csv('Suburb_vs_Income4.csv')

In [115]:
df1 = pd.read_csv('Suburb_vs_Income4.csv')

In [117]:
df1.tail(50)

,Household income,0,100,150,200,500,700,900,1125,1375,1750,2250,2750,3250,3750,4500,7500
2579,Wyalong,3,6,3,19,36,36,36,31,33,38,19,8,4,0,0,3
2580,Wyangala,0,6,7,7,24,15,9,9,5,11,3,15,6,3,4,7
2581,Wybung,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2582,Wyee,8,11,18,66,140,85,80,64,70,99,71,47,26,6,4,3
2583,Wyee Point,3,6,3,4,19,18,25,26,17,34,19,15,7,3,4,0
2584,Wyndham (NSW),0,3,13,23,43,28,24,16,15,10,6,3,0,0,0,0
2585,Wyoming,28,56,113,367,451,370,322,277,250,444,290,200,96,36,26,10
2586,Wyong,12,38,95,195,259,193,132,128,85,110,64,50,26,6,3,12
2587,Wyong Creek,0,3,0,7,10,9,9,8,8,12,4,11,8,7,8,0
2588,Wyongah,6,4,11,41,74,62,65,69,49,95,66,31,20,3,9,3
2589,Wyrallah,0,0,3,8,7,13,16,17,15,18,16,3,4,0,0,0
2590,Yagoona,65,104,169,389,548,518,405,388,338,538,317,247,139,58,67,43
2591,Yamba (NSW),20,54,111,264,549,418,350,224,168,206,105,71,34,17,13,12
2592,Yanco,0,4,9,33,35,28,20,24,17,32,10,6,3,0,0,0
2593,Yanderra,0,4,4,13,21,24,26,20,10,34,20,17,3,0,0,0
2594,Yarrabar,0,3,3,4,3,7,10,3,13,9,8,14,5,0,3,0
2595,Yarrahapinni,0,6,11,15,22,19,9,11,12,15,5,0,0,0,0,0
2596,Yarramalong,3,0,7,7,7,10,9,14,12,21,16,14,13,3,0,3
2597,Yarramundi,5,0,0,0,4,6,15,18,15,26,29,15,19,13,14,9
2598,Yarranbella,0,3,5,13,19,18,11,13,5,10,3,3,0,0,0,0
2599,Yarratt Forest,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2600,Yarravel,3,3,13,22,57,36,35,37,37,34,26,17,5,3,0,5
2601,Yarrawarrah,3,8,13,22,59,39,36,61,44,101,118,119,81,50,49,33
2602,Yarrawonga (NSW),0,0,7,27,32,20,20,14,16,11,9,4,3,0,0,0
2603,Yarrawonga Park,0,3,3,9,12,12,15,17,11,18,9,8,5,0,0,0
2604,Yarrie Lake,0,3,4,4,10,10,3,12,7,10,11,3,5,0,0,0
2605,Yarrowitch,0,3,3,3,6,7,7,3,3,3,0,3,0,0,0,4
2606,Yarrowyck,0,0,4,4,16,14,10,4,3,9,3,4,3,0,0,0
2607,Yass,5,38,61,151,209,190,152,211,174,290,222,180,102,44,25,21
2608,Yass River,0,7,0,5,9,11,12,13,10,27,20,29,17,8,11,8
2609,Yattalunga (NSW),0,3,5,12,13,20,18,21,10,26,12,11,6,5,0,0
2610,Yatte Yattah,0,0,3,6,6,7,14,10,6,6,10,3,0,0,0,0
2611,Yellow Rock (Blue Mountains - NSW),0,5,3,9,18,16,17,21,15,46,36,18,27,15,8,9
2612,Yellow Rock (Shellharbour - NSW),0,0,0,4,6,5,6,7,7,22,6,16,8,3,3,3
2613,Yenda (NSW),5,8,15,46,70,51,51,53,55,54,47,26,10,4,4,0
2614,Yennora,3,15,48,69,59,48,24,24,26,40,17,15,11,3,0,3
2615,Yeoval,0,3,11,19,29,13,23,7,15,4,6,0,0,0,0,0
2616,Yerong Creek,3,0,5,14,17,14,23,18,14,13,8,7,7,4,0,0
2617,Yerrinbool,3,4,16,16,43,30,29,38,31,43,33,22,11,9,0,3
2618,Yetholme,4,3,0,0,6,9,6,3,4,12,4,12,3,3,3,0
2619,Yetman,5,6,7,12,18,25,9,8,9,13,0,0,3,0,0,0
2620,Yoogali,3,4,5,13,20,23,19,22,26,30,26,21,6,0,0,7
2621,Yorklea,0,4,4,9,13,22,16,14,19,20,9,3,3,0,0,0
2622,Young,30,82,154,394,529,446,368,294,256,361,180,131,69,15,11,24
2623,Yowie Bay,12,3,5,30,64,68,80,52,43,100,83,107,104,53,58,55
2624,Yuraygir,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0
2625,Zetland,98,24,29,35,60,65,87,95,115,205,141,225,130,78,66,60
2626,Unclassified (NSW),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2627,Migratory - Offshore - Shipping (NSW),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2628,?????,27892,39699,71929,161505,235911,209001,190193,188418,171453,271001,192814,197608,117733,57017,51395,48826

In [65]:
dummy_list = []
for i in range(2629):
    a = random.randint(0,323)
    dummy_list.append(a)

In [66]:
df['dummylist'] = dummy_list

In [67]:
dummy_dict = {}
for i in df.columns:
    alpha = 99999
    dummy_dict[i] = alpha
dummy_dict

{'Household income': 99999,
 '0': 99999,
 '100': 99999,
 '150': 99999,
 '200': 99999,
 '500': 99999,
 '700': 99999,
 '900': 99999,
 '1125': 99999,
 '1375': 99999,
 '1750': 99999,
 '2250': 99999,
 '2750': 99999,
 '3250': 99999,
 '3750': 99999,
 '4500': 99999,
 '7500': 99999,
 'dummylist': 99999}

In [62]:
df.head()

,Household income,0,100,150,200,500,700,900,1125,1375,1750,2250,2750,3250,3750,4500,7500,dummylist
0,Abbotsbury,10,12,16,11,47,61,59,73,88,142,148,130,84,58,46,42,298
1,Abbotsford (NSW),30,29,64,131,152,110,102,135,113,201,153,260,136,94,91,124,275
2,Abercrombie,3,0,4,10,19,20,22,16,17,40,40,37,29,11,4,4,248
3,Aberdare,11,17,24,84,113,104,82,81,64,94,53,46,29,9,0,3,249
4,Aberdeen (NSW),3,10,11,57,78,70,49,56,63,105,58,92,50,10,12,7,26

In [92]:
df = df.append(dummy_dict, ignore_index = True)

C:\Users\user\AppData\Local\Temp\ipykernel_1856\3995867949.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dummy_dict, ignore_index = True)

In [74]:
df.drop(df.index[2629:2630], inplace = True)

In [93]:
df.tail()

,Household income,0,100,150,200,500,700,900,1125,1375,1750,2250,2750,3250,3750,4500,7500,dummylist
2634,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999
2635,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999
2636,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999
2637,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999
2638,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999

In [94]:
df.drop(df.index[2630:], inplace = False)

,Household income,0,100,150,200,500,700,900,1125,1375,1750,2250,2750,3250,3750,4500,7500,dummylist
0,Abbotsbury,10,12,16,11,47,61,59,73,88,142,148,130,84,58,46,42,142
1,Abbotsford (NSW),30,29,64,131,152,110,102,135,113,201,153,260,136,94,91,124,316
2,Abercrombie,3,0,4,10,19,20,22,16,17,40,40,37,29,11,4,4,255
3,Aberdare,11,17,24,84,113,104,82,81,64,94,53,46,29,9,0,3,187
4,Aberdeen (NSW),3,10,11,57,78,70,49,56,63,105,58,92,50,10,12,7,246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,Zetland,98,24,29,35,60,65,87,95,115,205,141,225,130,78,66,60,86
2626,Unclassified (NSW),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,180
2627,Migratory - Offshore - Shipping (NSW),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,98
2628,?????,27892,39699,71929,161505,235911,209001,190193,188418,171453,271001,192814,197608,117733,57017,51395,48826,253
2629,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999,99999

In [100]:
df = df.drop(df.index[2628:], inplace = False)

In [101]:
df.tail()

,Household income,0,100,150,200,500,700,900,1125,1375,1750,2250,2750,3250,3750,4500,7500,dummylist
2623,Yowie Bay,12,3,5,30,64,68,80,52,43,100,83,107,104,53,58,55,235
2624,Yuraygir,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,176
2625,Zetland,98,24,29,35,60,65,87,95,115,205,141,225,130,78,66,60,86
2626,Unclassified (NSW),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,180
2627,Migratory - Offshore - Shipping (NSW),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,98

In [108]:
df = df.drop(['dummylist'],axis = 1)

In [110]:
df.columns

Index(['Household income', '0', '100', '150', '200', '500', '700', '900',
       '1125', '1375', '1750', '2250', '2750', '3250', '3750', '4500', '7500',
       'population'],
      dtype='object')

In [113]:
df['population'] = df.mean(axis=1) # df[new_col_name] = new series 
print(df['population'])

324      6.438632
325     16.769794
326      4.956646
327      6.782210
328     61.463057
          ...
2623    57.348667
2624     0.223285
2625    94.560757
2626     0.036637
2627     0.019947
Name: population, Length: 2304, dtype: float64

C:\Users\user\AppData\Local\Temp\ipykernel_1856\3038368275.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['population'] = df.mean(axis=1) # df[new_col_name] = new series

In [112]:
print(list(df.columns))[1:-1]

['Household income', '0', '100', '150', '200', '500', '700', '900', '1125', '1375', '1750', '2250', '2750', '3250', '3750', '4500', '7500', 'population']

TypeError: 'NoneType' object is not subscriptable